@media only screen and (max-width: 1024px) {
    .menu-button {
        display: block;
    }
    .header_button,
    .navbar {
        display: none;
    }
    
}

@media only screen and (max-width: 768px ) {
    .container {
        width: 696px;
    }
    .container_show .left {
        width: 456px;
    }
    .container_show .right img:first-child,
    .container_show .right img:last-child {
        width: 216px;
    }
    .container_item-content .heading {
        font-size: 1.6rem;
        line-height: 2.1rem;
        margin-top: 0;
    }
    .container_item-content .desc {
        font-size: 1.4rem;
        line-height: 2.1rem;
        margin-bottom: 0;
    }
    .container_item {
        margin: 0 0 36px;
    }
}

@media only screen and (max-width: 426px ) {
    .header {
        padding: 0 10px;
    }
    .header_text {
        display: none;
    }
    .container {
        width: 396px;
    }
    .container_contact {
        display: none;
    }
    .container_show {
        display: unset;
    }
    .container_show .left {
        width: 100%;
        height: 300px;
    }
    .container_show .right {
        height: unset;
        flex-direction: row;
        margin-top: 14px;
    }
    .container_show .right img:first-child, 
    .container_show .right img:last-child {
        width: 48%;
        height: 259px;
    }
    .container_desc ul {
        padding-left: 0;
    }
    .container_desc ul li {
        list-style: none;
    }
    .container_trending .left p, .container_social .left p {
        font-size: 1.4rem;
    }
    .container_trending .container_item,
    .container_social .container_item {
        display: unset;
    }
    .container_item-img {
        width: 100%;
        margin-bottom: 14px;
    }
    .container_item-content {
        margin-left: 0;
    }
    .container_item-content .desc {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 376px ) {
    .header {
        padding: 0 10px;
    }
    .header_text {
        display: none;
    }
    .container {
        width: 331px;
        margin: 0 auto;
    }
    .container_show {
        display: unset;
    }
    .container_show .left {
        width: 100%;
        height: 300px;
    }
    .container_show .right {
        height: unset;
        flex-direction: row;
        margin-top: 14px;
    }
    .container_show .right img:first-child, 
    .container_show .right img:last-child {
        width: 48%;
        height: 259px;
    }
    .container_desc ul {
        padding-left: 0;
    }
    .container_desc ul li {
        list-style: none;
    }
    .container_trending .left p, .container_social .left p {
        font-size: 1.4rem;
    }
    .container_trending .container_item,
    .container_social .container_item {
        display: unset;
    }
    .container_item-img {
        width: 100%;
        margin-bottom: 14px;
    }
    .container_item-content {
        margin-left: 0;
    }
    .container_item-content .desc {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 320px ) {
    .container {
        width: 296px;
        margin: 0 auto;
    }
    .container_heading {
        
        font-size: 2.2rem;
        line-height: 28px;
    }
    .container_show .right {
        display: none;
    }
    .control_button-social {
        margin-left: 8;
        width: 80px;
    }
    .control_back {
        font-size: 1.2rem;
    }
    .container_info .social {
        font-size: 1.2rem;
    }
    .container_social .left .button {
        font-size: 1.2rem;
        padding: 2px 22px;
    }
    .container_social .left p {
        line-height: 2rem;
    }
}